<style wix-style>
#start-chat {
   background-color: {{style.bgColor #CCCCCA}};
   transition: background-color 0.7s ease;
   border: none;
   position: absolute;
   right: 0px;
   bottom: 25px;
   height: 3em;
   width: 80px;
   border-radius: 10px 0px 0px 10px;
   text-align: left;
}

#start-chat:hover, #start-chat:focus, #start-chat:active {
   background-color: white;
}

body {
   background: none;
}
</style>

<button id="start-chat">Questions?<br>Chat here!</button>

<script>
     $('#start-chat').on('click', function(e) {
        $.get('/welcome', function(data) {
          $('body').html(data);
        });
        return false;
      });
</script>
