<style wix-style>
#start-chat {
   background-color: #138EC2;
   border: none;
   position: absolute;
   right: -110px;
   bottom: 25px;
   height: 60px;
   width: 175px;
   text-align: left;
   border-radius: 8px 0px 0px 8px;
}

#start-chat:hover, #start-chat:focus, #start-chat:active {
   transition: 0.7s;
   right: 0px;
}

body {
   background: none;
}

#imageleft {
  display: inline-block;
  padding: 2px;
  padding-top: 10px;
  width: 45px;
  color: white;
  vertical-align: top;
}

#imageright {
  display: inline-block;
  padding: 2px;
  padding-top: 5px;
  width: 45px;
  color: white;
  vertical-align: top;
}

#robot {
  display: inline-block;
}
</style>

<button id="start-chat">
<div id="imageleft">Text Support<br></div>
<img id="robot" src="images/icon_60x60.jpg" width='50px'>
<div id="imageright">Click here to chat</div></button>
<script>
     $('#start-chat').on('click', function(e) {
        $.get('/welcome', function(data) {
          $('body').html(data);
        });
        return false;
      });

</script>