<!doctype html>
<html lang='en'>

  <head>
    <link rel="stylesheet" href="./ui-lib.min.css"></link>
    <title>Text Support</title>
    <meta charset='utf-8'>
    <script src="http://sslstatic.wix.com/services/js-sdk/1.39.0/js/Wix.js"></script>
    <script src='http://code.jquery.com/jquery-1.11.1.js'></script>
    <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.39.0/js/Wix.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
