<body wix-ui>
    <header class="box">
        <div class="logo">
            <img width="86" src="images/wix_icon.png" alt="logo"/>
        </div>
        <div class="loggedOut">
            <p>Text Support App Description</p>
            <div class="login-panel"><!-- App login panel --></div>
        </div>
        <div class="loggedIn hidden">
            App Logged in information
            <div class="premium-panel"><!-- Premium features --></div>
        </div>
    </header>

    <div wix-param="bgColor" wix-model="bgColorPicker" wix-ctrl="ColorPicker" wix-options="{startWithColor: 'color-3'}"></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://sslstatic.wix.com/services/js-sdk/1.31.0/js/Wix.js"></script>
    <script src="ui-lib.min.js"></script>
    <script>

        Wix.UI.onChange('*', function(value, key){});

    	$(document).ready(function(){
    		Wix.UI.initialize({
    		  bgColorPicker: true
    		});
    	});
        </script>
    </body>