<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">

  <header id="widget_header">
    <h3>Chat</h3>
    <img src="/images/x.png" id="x" alt="x">
  </header>

  <form action="" id="input_field">
    <input id="name" placeholder="Please enter your name and hit return!">
    <button id="submit-name">Submit</button>
  </form>
  
  <script>
        $('#submit-name').on('click', function(e) {
          var name = $("#name").val()
          var chat_url = '/widget/RANDO?name=' + name
          $.get(chat_url, function(data) {
            $('body').html(data);
          });
          return false;
        });
  </script>

