  <form action="" id="input_field">
    <input id="name">
    <button id="submit-name">Submit</button>
  </form>

  
  <script>
        $('#submit-name').on('click', function(e) {
          var name = $("#name").val()
          var chat_url = '/widget/RANDO?name=' + name
          $.get(chat_url, function(data) {
            $('body').html(data);
          });
          return false;
        });
  </script>

