  <form action="" id="input_field">
    <input id="name">
    <button id="submit-name">Submit</button>
  </form>

  
  <script>
        $('#submit-name').on('click', function(e) {
            var name = $("#name").val()
            console.log("hello"); 
            var chat_url = '/widget/RANDO?name=' + name
            window.open(chat_url ,"_self")
            return false;
         });
  </script>
