<header>
  <h3>Chat</h3>
  <img src="/images/x.png" id="x" alt="x">
</header>

<main class="message_body">
<section id="messages"></section>
<section id="type-message"></section>
</main>

<footer>
  <div id="typing"></div>
<form action="" id="input_field">
  <input id="chatmessage" placeholder="Type something here">
  <button id="chatsendbutton">Send</button>
</form>
</footer>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/socket.js'></script>


