* { 
  margin: 0; 
  padding: 0; 
  background-color: #F6F6F6;
}

header {
  position: fixed;
  z-index: 10;
  padding: 6px;
  display: inline;
  width: 100%;
  background-color: #F6F6F6;
  height: 7%;
  border: 1px solid #DEDEDE;
}

header h3 {
  font: 1.5em Helvetica;
}

.message_body {
  top: 12%;
  position: fixed;
  width: 100%;
  display: inline;
  margin-bottom: 10%;
}

#input_field {
  position: fixed;
  bottom: 0;
  display: inline;
  width: 100%;
  font-size: 2.5em;
}

#chatmessage {
  height: 25%;
}

form input { 
  border: 1px solid #DEDEDE;
  padding: 10px; 
  width: 100%;
}

#messages div { 
  padding: 2%; 
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 4px;
  width: 85%;
  margin: 2%;
  border: 1px solid #DEDEDE;
  word-wrap: break-word;
}

#messages div.yours { 
  margin-left: 3%;
  background: #D6EFF6;
}

#messages div.mine { 
  background: #FFFFFF; 
  margin-left: 8%;
}

#type-message div {
  padding: 5px 10px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  margin: 2%;
}
